.trip-card{
    transition: 0.7s;
    border-radius: 10px;
}

.trip-card:hover{
    box-shadow:  5px 10px 10px 2px gray;
}

.book-now-button:hover{
    background-color: tomato;
    color: whitesmoke;
}